.sidebar{
  position: fixed;
  bottom: 0;
  left: 0;
  top: 55px;
  width:70px;
padding-top: 5px;
  background-color: white;
  z-index: 200;
}

.sidebar-link{
  display: flex;
  height: 75px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}
.sidebar-link:hover{
  background-color: rgb(235, 235, 235);
}
.sidebar-link img{
  height: 24px;
  margin-bottom: 6px;
}

.sidebar-link div{
  font-family: Roboto, Arial;
  font-size: 10px;
}